body {
	margin: 0%;
	background: #bc9a02;
	font-family: 'Cinzel', serif;
}


.layout {
  width: auto;
  height: max-content;
  margin: 0%;

  display: grid;
  grid:
    "sidebar contenido" 1fr
    / 20% 1fr;
  gap: 8px;
}

.sidebar { 
	grid-area: sidebar; 
	background: #cccccc;
	display: block;
	height: 100vh;
}

.sidebar .menu { 
	margin-top: 100px;
	  
	justify-items: stretch;

}

.img-profile {
		max-width: 200px;
		max-height: 200px
}

@keyframes btnhover {
	0% {
		color: #000033;
	}

	100% {
		color: #bc9a02;
	}
}

.sidebar .menu .btn {
	text-align: center;
	
}

.sidebar .menu .btn:hover {
	color: #bc9a02;
	animation: btnhover 0.5s ease-in 0s 1 normal forwards;
}

.sidebar .menu .btn a{
	text-decoration: none;
	color: #000033;
	font-weight: 800;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	line-height: 3;
}
.sidebar .menu .btn a:hover {
	color: #bc9a02;
	animation: btnhover 0.5s ease-in 0s 1 normal forwards;
}

.contenido { 
	grid-area: contenido; 
	background: #000033;
	display: block;
	height: 100vh;
}

.inicio {
	margin: 0px;
	width: 100%;
	height: 590px;
	background-image:  url("../assets/img/FES.jpg"); 
	background-size: cover;
  	background-repeat:no-repeat;
  	background-position: center center;
	display: flex;
	justify-content: center;
	flex-direction: column;	

}
.inicio b {
	text-align: center;
	color: #bc9a02;
	font-size: 6rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}

.inicio c {
	text-align: center;
	color: white;
	font-size: 6rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;

}
.inicio p {
	color: white;
	text-align: center;
}

.abogados {
	margin: 0px;
	width: 100%;
	height: 590px;
	background: white;
	display: flex;
  	flex-direction: column;
}



h1{
	margin-left: 10%;
	color: #bc9a02;
	font-size: 2.5rem;
	text-transform: uppercase;

}
h2{
	margin-left: 10%;
	color: #000033;
	font-size: x-large;
	text-transform: uppercase;

}
h3{
	margin-left: 10%;
	color: #bc9a02;
	font-size:large;
	text-transform: uppercase;
	
}
p{
	margin-left: 10%;
	color: #01015c;
}
line{
	margin-left: 10%;
	color: #01015c;
	line-height: 0.5;
}



@media (max-width: 1040px) or (max-height: 600px) {
	.layout {
	  display: grid;
	  grid:
	    "sidebar" auto
	    "contenido" 1fr
	    / 1fr;
	  gap: 8px;
	}

	.sidebar { 
		grid-area: sidebar; 
		background: #cccccc;
		width: 100%;
		height: 70px;
	}

	.sidebar .menu { 
		margin: 5px;
  		display: flex;
  		gap: 16px;
  		justify-content: center;
		align-items: flex-end;
	}

	.img-profile {
		max-width: 60px;
		max-height: 60px;

	}
	.sidebar .menu .btn {
		height: 60px;
		color: #000033;
		text-transform: uppercase;
	}


	.contenido { 
		grid-area: contenido; 
		background: #fafafa;
		display: block;
		height: 620px;
	}
}

